h1, h2, h3, display {
  font-family: 'Sporting Grotesque_Regular';
}

h4, h5 {
  font-family: 'Work Sans';
}

.hidesection {
  display: none;
}

html {
  font-family: 'Work Sans';
  padding: 0;
  margin: 0;
}

.top-break {
  margin: 1em 0 0 0;
}

.row {
  min-height: 100vh;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

.half-padding {
  padding: 3em;
}

.green {
  background-color: #00992E;
}

.peach {
  background-color: #F2CDAD;
}

.mint {
  background-color: #C5E7DB;
}

.dark {
  background-color: #3C4B42;
}

.blue {
  background-color: #007FE9;
}

.volume-btn {
  border: white 2px solid;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  position: absolute;
  margin: 1em;
}

section {
  /*min-height: calc(100vh);*/
  transform: translate(0, 100vh);
}

#home {
  cursor: pointer;
}

#dialogues {
  cursor: pointer;
}

#knowledge {
  cursor: pointer;
}

a {
  text-decoration: none;
}

small {
  margin-bottom: 1em;
}

.top {
  position: absolute;
}

.editable {
  border-bottom: 5px solid #ffffff;
}

p {
  font-size: 16px;
  line-height: 21px;
  opacity: .8;
}

small {
  line-height: 17px;
  opacity: .8;
}

