#fullscreen-m {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.m-fullscreen-menu {
  background: white;
  margin: 0;
  padding: 0;
}

.m-fullscreen-menu .m-dialog {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.m-fullscreen-menu .m-content {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#fullscreen-m .m-body {
  background-color: #F2CDAD;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#fullscreen-m .m-body .info, #fullscreen-m .m-body .dialogues, #fullscreen-m .m-body .systems, #fullscreen-m .m-body .knowledge {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 20%;
  height: 100vh;
  transition: width .4s;
  -webkit-transition: width .4s;
}

#fullscreen-m .m-body .info {
  background-color: #00992E;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 4vh 5vw;
}

#fullscreen-m .m-body .info p {
  text-transform: uppercase;
  font-size: 18px;
}

#fullscreen-m .m-body .dialogues {
  /*background-color: #F2CDAD;*/
}

#fullscreen-m .m-body .systems {
  /*background-color: #007FE9;*/
}

#fullscreen-m .m-body .knowledge {
  /*background-color: #C5E7DB;*/
}

#fullscreen-m .m-body .hover {
  width: 40%;
}

.rotate {
  transform: rotate(-90deg);
}

.la.la-arrow-left {
  padding: 0 .3em 0 0;
}

.site-title {
  white-space: nowrap;
}

@media (min-width: 768px) {
  .site-title.rotate {
    transform: none;
    white-space: normal;
  }
}

